* {font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
body {
	background-image: linear-gradient(180deg, lightblue, #3974A5);
	background-repeat: no-repeat;
}
p {
	color: #474747;
	font-size: 150%;
}
#title {
	background-color: none;
}
#wrapper {
	background-color: white;
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 20%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 55px auto;
}
nav {grid-row: 1/2; grid-column: 1/2;}
main {grid-row: 2/3; grid-column: 1/2;}
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}
#title1 {
	grid-row: 1/2;
	grid-column: 1/3;
	border-bottom-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-color: darkblue;
	padding-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
#title2 {
	grid-row: 3/4;
	grid-column: 1/3;
	border-bottom-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-color: darkblue;
	padding-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
#title3 {
	grid-row: 5/6;
	grid-column: 1/3;
	border-bottom-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-color: darkblue;
	padding-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
#title4 {
	grid-row: 7/8;
	grid-column: 1/3;
	border-bottom-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-color: darkblue;
	padding-top: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
#contact1 {
	grid-row: 2/3;
	grid-column: 1/3;
	padding: auto;
	margin: auto;
	align-self: center;

}
#article1 {
	grid-row: 2/3;
	grid-column: 2/3;
	padding-top: 20px;
	padding-right: 15%;
	padding-left: 5%;
	align-self: center;

}
#article2 {
	grid-row: 4/5;
	grid-column: 1/2;
	padding-top: 20px;
	padding-right: 5%;
	padding-left: 15%;
	align-self: center;
}
#article3 {
	grid-row: 6/7;
	grid-column: 2/3;
	padding-top: 20px;
	padding-right: 15%;
	padding-left: 5%;
	align-self: center;
}
#article4 {
	grid-row: 8/9;
	grid-column: 1/2;
	padding-top: 20px;
	padding-right: 5%;
	padding-left: 15%;
	align-self: center;
}
h1 {
	text-align: center;
	font-size: 500%;
}
h2 {
	text-align: center;
}
nav {
	background-color: lightgray;
	background-blend-mode: overlay;
	text-align: center;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
}
nav a {
	text-decoration: none;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
nav ul a:hover {
	background-color: darkgray;
	border-radius: 10px;
	padding-left: 15px;
       margin-left: -15px;
       padding-right: 15px;
       margin-right: -15px;
       padding-top: 10px;
       margin-top: -10px;
       padding-bottom: 8px;
       margin-bottom: -8px;
	color: #4995d6;
}
nav ul a {color: #3974A5; font-weight: bold; font-size: 120%;}
#logo {
	height: 96px; 
	width: 190px;
	background-image: url(logoCar.png); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
}
#video1 {
	grid-row: 2/3;
	grid-column: 1/3;
	padding: auto;
	margin: auto;
	align-self: center;

}
#homeImage1 {
	height: 150px; 
	width: 350px;
	background-image: url(homeImage1.jpg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 15px;
	grid-row: 2/3;
	grid-column: 1/2;
}
#homeImage2 {
	height: 245px; 
	width: 233px;
	background-image: url(homeImage2.png); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 4/5;
	grid-column: 2/3;
}
#homeImage3 {
	height: 200px; 
	width: 300px;
	background-image: url(homeImage3.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 6/7;
	grid-column: 1/2;
}
#homeImage4 {
	height: 149px; 
	width: 303px;
	background-image: url(homeImage4.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 8/9;
	grid-column: 2/3;
}
#technologyImage1 {
	height: 241px; 
	width: 420px;
	background-image: url(technologyImage1.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 2/3;
	grid-column: 1/2;
}
#technologyImage2 {
	height: 241px; 
	width: 279px;
	background-image: url(technologyImage2.gif); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 4/5;
	grid-column: 2/3;
}
#technologyImage3 {
	height: 264px; 
	width: 296px;
	background-image: url(technologyImage3.png); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 6/7;
	grid-column: 1/2;
}
#technologyImage4 {
	height: 199px; 
	width: 353px;
	background-image: url(technologyImage4.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 8/9;
	grid-column: 2/3;
}
#historyImage1 {
	height: 183px; 
	width: 325px;
	background-image: url(historyImage1.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 2/3;
	grid-column: 1/2;
}
#historyImage2 {
	height: 213px; 
	width: 320px;
	background-image: url(historyImage2.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 4/5;
	grid-column: 2/3;
}
#historyImage3 {
	height: 289px; 
	width: 450px;
	background-image: url(historyImage3.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 6/7;
	grid-column: 1/2;
}
#historyImage4 {
	height: 225px; 
	width: 400px;
	background-image: url(historyImage4.webp); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 8/9;
	grid-column: 2/3;
}
#environmentImage1 {
	height: 337px; 
	width: 506px;
	background-image: url(environmentImage1.png); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 2/3;
	grid-column: 1/2;
}
#environmentImage2 {
	height: 304px; 
	width: 560px;
	background-image: url(environmentImage2.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 4/5;
	grid-column: 2/3;
}
#environmentImage3 {
	height: 342px; 
	width: 485px;
	background-image: url(environmentImage3.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 6/7;
	grid-column: 1/2;
}
#environmentImage4 {
	height: 327px; 
	width: 581px;
	background-image: url(environmentImage4.png); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 8/9;
	grid-column: 2/3;
}
#practicalityImage1 {
	height: 270px; 
	width: 480px;
	background-image: url(practicalityImage1.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 30px;
	grid-row: 2/3;
	grid-column: 1/2;
}
#practicalityImage2 {
	height: 299px; 
	width: 480px;
	background-image: url(practicalityImage2.jpeg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 4/5;
	grid-column: 2/3;
}
#practicalityImage3 {
	height: 342px; 
	width: 485px;
	background-image: url(practicalityImage3.webp); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 6/7;
	grid-column: 1/2;
}
#futureImage2 {
	height: 304px; 
	width: 560px;
	background-image: url(futureImage2.jpg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 4/5;
	grid-column: 2/3;
}
#futureImage3 {
	height: 342px; 
	width: 485px;
	background-image: url(futureImage3.jpg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 6/7;
	grid-column: 1/2;
}
#futureImage4 {
	height: 327px; 
	width: 581px;
	background-image: url(futureImage4.jpg); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	margin: auto;
	grid-row: 8/9;
	grid-column: 2/3;
}
#active {
	background-color: darkgray;
	border-radius: 10px;
	padding-left: 15px;
       margin-left: -15px;
       padding-right: 15px;
       margin-right: -15px;
       padding-top: 10px;
       margin-top: -10px;
       padding-bottom: 8px;
       margin-bottom: -8px;
	color: #4995d6;
}
footer {
	text-align: center;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table {
	grid-row: 8/9;
	grid-column: 1/3;
	border: 2px solid #3399CC; 
	border-collapse: collapse;
	margin: 20px;
}
td, th {
	padding: 0.5em; 
	border: 2px solid #3399CC;
}
td {text-align: center;}
tr:nth-of-type(odd) {background-color: #F5FAFC;}